<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <% include ../partials/head %>
  </head>
  <body>
    <% let time = trip.updatedAt - trip.createdAt %>
    <% time = Math.floor(time/1000);%>
    <!-- <% timeshow = time %> -->
    <ul>
      <li><%= trip.username %></li>
      <li><%= trip.origin %></li>
      <li><%= trip.destination %></li>
      <li class="yourTime"><%= timeshow %></li>
    </ul>

    <form class="editForm" action="/trips/<%= trip.id %>/edit?_method=PUT" method="POST">
        <fieldset>
          <input type="hidden" name="origin" value="<%= trip.origin %>"/>
          <input type="hidden" name="destination" value="<%= trip.destination %>"/>
          <input type="hidden" name="yourTime" value="<%= time %>"/>
          <legend>Describe Your Ride</legend>
          <textarea name="description"></textarea>
        </fieldset>
      <input type="submit" value="publish">
    </form>
  </body>
</html>
