<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <% include ../partials/head %>
  </head>
  <body>

<div class="editRoute ">
<div class="container">

    <form class="editDescription" action="/trips/<%= trip.id %>/edit/description?_method=PUT" method="POST">
      <fieldset>
        <input type="hidden" name="origin" value="<%= trip.origin %>"/>
        <input type="hidden" name="destination" value="<%= trip.destination %>"/>
        <input type="hidden" name="yourTime" value="<%= trip.yourTime %>"/>

          <label for="favorite">

          <input type="checkbox" name="favorite"  id="favorite" <% if(trip.favorite === true){%>
            checked
          <%}%>
          />
          <span>favorite</span>
          </label>


        <label for="description">

        <textarea name="description" id="description"><%= trip.description %></textarea>

        </label>
        <input class="btn" type="submit" name="" value="Publish">
      </fieldset>

    </form>
</div>
    </div>

  </body>
</html>
