<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <% include ../partials/head %>
  </head>
  <body>
    <h1>Hello <%= currentUser.username %> </h1>
    <div class="indexNavWrap clearfix">
      <nav class=" indexNav">
        <% include ../partials/nav %>
      </nav>
    </div>
    <div class="indexNavWrap clearfix ridebtn">
      <button type="button" name="button"><a href="/trips/new">Let's Ride</a></button>
    </div>


    <ul>
    <%  trip.forEach((ele, index)=>{ %>
    <li>
      <a href="/trips/<%= ele.id %>/show">
      <div class="tripItem">
       <div class="tripItemValue">
        <strong><%= ele.username %>'s time</strong>
        <span><%= moment(ele.yourTime).format('HH:mm:ss') %></span>
       </div>
       <div class="tripItemValue">
        <strong>Origin</strong>  <%= ele.origin %>
       </div>
       <div class="tripItemValue">
        <strong>Destination</strong>  <%= ele.destination %>
       </div>
     </div>
     </a>
    </li>

      <%})%>
    </ul>
  </body>
</html>
