<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <% include ../partials/head %>
    <script src="/static.js" charset="utf-8"></script>
  </head>
  <body>
    <div class="showtitle">
      <h6>touring interurban</h6>
    </div>

    <div class="indexNavWrap clearfix">
      <nav class="  navbar">

        <% include ../partials/nav %>
      </nav>
    </div>
    <div class="indexNavWrap clearfix ridebtn">
      <button  class="startBtn" type="button" name="button"><a href="/trips/new">Let's Ride</a></button>
    </div>
    <div class="index container">
      <div class="sidnav">
      <div class="sidenavcontent">

      </div>
      </div>
    <div class="listwrap">
    <ul class="">
    <%  trip.forEach((ele, index)=>{ %>
    <li class="">
      <a href="/trips/<%= ele.id %>/show">
      <div class="tripItem">
        <div class="tripItemValue">
         <%= ele.title %>
        </div>
       <div class="tripItemValue">
        <strong><%= ele.username %>'s time</strong>
        <span><%= ele.yourTime %></span>
       </div>

       <div class="tripItemValue">
        <strong>Destination</strong>  <%= ele.destination %>
       </div>


      </div>
      </a>
    </li>
      <%})%>
    </ul>
  </div>
  </div>
  <footer>

  </footer>
  </body>
</html>
