<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <% include ../partials/head %>
  </head>
  <body>

    <nav>
      <ul>
        <li><a href="/trips/<%= trip.id %>/edit">Publish</a></li>
      </ul>
    </nav>

    <div class="container ">
      <ul>
        <li><%= trip.username %></li>
        <li>From: <%= trip.origin %></li>
        <li>To: <%= trip.destination %></li>
      </ul>
     <% let time = trip.updatedAt - trip.createdAt %>
     <% time = Math.floor(time/1000);%>
       <span>
         Your Time:</span><h2 class="yourTime"> <%= time %> </h2><span>seconds</span>

       <p><%= trip.description %></p>
    </div>

  </body>
</html>
