<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <% include ../partials/head %>
  </head>
  <div class="showtitle">
    <h6>touring interurban</h6>
  </div>
  <body>

    <nav>
      <ul>
        <li><a href="/trips/<%= trip.id %>/edit">Publish</a></li>
      </ul>
    </nav>

    <div class=" container ">
      <div class="card">


      <ul class="card-content ">
        <li><%= trip.username %></li>
        <li><strong>From:</strong> <%= trip.origin %></li>
        <li><strong>To:</strong> <%= trip.destination %></li>

     <% let time = trip.updatedAt - trip.createdAt %>
     <% time = Math.floor(time/1000);%>
        <li>
         <span>
           Your Time:</span><h2 class="yourTime"> <%= time %> </h2>
        </li>
        <li>
          <p><%= trip.description %></p>
        </li>

       </ul>
       </div>
    </div>

  </body>
</html>
