<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <% include ../partials/head %>
    <script src="/static.js" charset="utf-8"></script>
  </head>
  <body>
    <nav>
      <% include ../partials/nav %>
    </nav>
<div class="card container right">

<div class="card-content ">


    <ul>
      <li>
        <h3><%= trip.title %></h3>
      <li>
        <% let formTime = trip.yourTime; %>

      <h4 class="yourTime"> <%= formTime %> </h4>

      </li>
      <li>
      <h5><strong>From:</strong> <%= trip.origin %></h5>
      </li>
      <li>
      <h5><strong>To:</strong> <%= trip.destination %></h5>
      </li>
      <li>
    <h6>Name: <%= trip.username %></h6>
    </li>
      </div>

      <% if (currentUser.username === trip.username) { %>
      <div class="card-content">


        <a href="/trips/<%= trip.id %>/edit/description" class="navtbtn left">
          <% if (trip.favorite === true) { %>
            edit tale
          <%}else{%>
            make public
          <%}%> </a>
        <form class="reveal right" action="/trips/<%= trip.id %>?_method=DELETE" method="POST">
          <input type="submit" value="remove route">
        </form>
        </div>

      <%}%>
    </li>
    <div class="card-content">
      <p><%= trip.description %></p>
    </div>
    </ul>


</div>

  </body>
</html>
