<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <% include ../partials/head %>
  </head>
  <body>
    <nav>
      <% include ../partials/nav %>
    </nav>

    <div class="topInfo">
      <div class="infoTop">
        <table>
          <tr>
            <th>Username</th>

          </tr>
          <tr>
            <td><%= currentUser.username %></td>
          </tr>
        </table>
      </div>
    </div>
    <main>
      <ul>

      <% trip.forEach((ele, index)=> {%>
        <li class="">
<a href="/trips/<%= ele.id %>/show">
          <div class="tripItem">
           <div class="tripItemValue">
            <strong><%= ele.username %>'s time</strong>
            <span><%= ele.yourTime %></span>
           </div>
           <div class="tripItemValue">
            <strong>Origin</strong>  <%= ele.origin %>
           </div>
           <div class="tripItemValue">
            <strong>Destination</strong>  <%= ele.destination %>
           </div>

<form class="" action="/trips/<%= ele[index] %>/edit/favorite?_method=PUT" method="POST">
<label for="favorite<%=[index]%>">
  <input type="checkbox" name="favorite" id="favorite<%=[index]%>"
  <% if(ele.favorite === true){%>
    checked
  <%}%>
  />
  <span>favorite</span>
  </label>
</form>

          </div>
        </a>
        </li>
      <%})%>
        </ul>
    </main>
  </body>
</html>
