<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <% include ../partials/head %>
  </head>
  <body>
    <div class="showtitle">
      <h6>touring interurban</h6>
    </div>
    <div class="indexNavWrap clearfix">
      <nav>
        <% include ../partials/nav %>
      </nav>
    </div>

    <div class="indexNavWrap clearfix ridebtn">
      <button  class="startBtn" type="button" name="button"><a href="/trips/new">Let's Ride</a></button>
    </div>
    <div class="topInfo">
      <div class="infoTop">
        <table>
          <tr>
            <th>
              <%= currentUser.username %>'s Trips'
            </th>
          </tr>

        </table>
      </div>
    </div>
    <main>
      <ul>

      <% trip.forEach((ele, index)=> {%>
        <li>

<a href="/trips/<%= ele.id %>/show">
          <div class="tripItem <% if (ele.favorite === true) {%>
            fav
          <%}%>">
          <!-- <div class="tripItem fav"> -->

           <div class="tripItemValue">
            <strong><%= ele.username %>'s time</strong>
            <span><%= ele.yourTime %></span>
           </div>
           <div class="tripItemValue">
            <strong>Origin</strong>  <%= ele.origin %>
           </div>
           <div class="tripItemValue">
            <strong>Destination</strong>  <%= ele.destination %>
           </div>

          </div>
        </a>
        </li>
      <%})%>
        </ul>
    </main>
    <div class="footerWrap clearfix">
    <% include ../partials/footer %>
    </div>
  </body>
</html>
