<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <% include ../partials/head %>
  </head>
  <body>
    <div class="showtitle">
      <h6>touring interurban</h6>
    </div>
    <div class="indexNavWrap clearfix">
      <nav>
        <% include ../partials/nav %>
      </nav>
    </div>


    <div class="topInfo">
      <div class="infoTop">
        <table>
          <tr>
            <th>Username</th>

          </tr>
          <tr>
            <td><%= currentUser.username %></td>
          </tr>
        </table>
      </div>
    </div>
    <main>
      <ul>

      <% trip.forEach((ele, index)=> {%>
        <li class="">
<a href="/trips/<%= ele.id %>/show">
          <div class="tripItem">
           <div class="tripItemValue">
            <strong><%= ele.username %>'s time</strong>
            <span><%= ele.yourTime %></span>
           </div>
           <div class="tripItemValue">
            <strong>Origin</strong>  <%= ele.origin %>
           </div>
           <div class="tripItemValue">
            <strong>Destination</strong>  <%= ele.destination %>
           </div>



          </div>
        </a>
        </li>
      <%})%>
        </ul>
    </main>
  </body>
</html>
